.dashboard-bar{
    background-color: rgb(51, 47, 47);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.title h1 {
    color: #acb8c4;
    font-size: 1.8em;
    font-weight: 600;
    margin: 0;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px 15px;
    border: 1px solid #ced4da;
    border-radius: 4px 0 0 4px;
    font-size: 1.2em;
    width: 250px;
    outline: none;
    transition: border-color 0.3s;
}   

.search-bar input:focus {
    border-color: #495057;
}
.filter-bar{
    color: whitesmoke;
    
    padding-right: 10px;
}
.filter-bar ion-icon{
    font-size: 3em;
}
.filter-bar:hover{
    cursor: pointer;
    color: #645858;
}
.search-btn {
    background-color: whitesmoke;
    color: rgb(51, 50, 50);
    border: none;
    padding: 6px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.4em;
}

.search-btn:hover {
    background-color: #8293a5;
}

/* Nếu sử dụng Font Awesome */
